.leftcat {
	width: 650px;
	height: 650px;
}

p {
	font-weight:bold;
	color: brown;
	font-size: 26px;
	
}

h1 { border: 5px solid black;
	color: brown;
	font-weight: bold;
	text-align: center;
 }
.rightcat {
	width: 100%;
}
 .secondrightcat {
 	width: 110%;
 }.thirdrightcat {
 	width: 110%
 }